In [1]:
import 数据读取函数 as sj
import pandas as pd
import numpy as np

import patsy
import statsmodels.api as sm
from scipy import stats

## Background information
动力煤作为最常见的煤种，其作用主要是燃烧供能。和焦煤、喷吹煤不同的是，动力煤主要用于火力发电，化工企业以及水泥行业等。而焦煤主要用于生产焦炭，以用于高炉炼铁，起到骨架、还原、供热等作用。喷吹煤和焦炭一样，都是高炉炼铁的主要原料。我国目前动力煤产业链包括上游的煤炭坑口产煤、洗选，中游的铁路运输、港口海运，下游的电厂及化工、水泥厂。
      其中西煤东运主要靠铁路（如大秦线等）运输，在每年4-5月份和10-11月份的大秦线检修，对动力煤的供应会产生一定影响；北煤南运主要指沿海港口海运（主要包括秦皇岛港、曹妃甸港、黄骅港、京唐港等），至南方沿海地区的电厂（其中以6大电厂为主：浙电、上电、广电、国电、大唐、华能）。
      截至2017年底数据，我国煤炭消费总量达到38.6亿吨，动力煤消费量达到31.37亿吨，占总煤炭消费量的80%以上。其中60%左右的动力煤下游消费端为电力行业消费，4.8%在冶金行业，5.4%左右在化工行业，8.8%左右在建材行业，8.24%在供热行业，11.5%在其他类行业。电力行业消费占据主导作用，也在需求端左右着动力煤价格的走势。
      根据我们对基本面的研究发现，动力煤产地主要集中在山西、陕西和内蒙，供应数据主要包括坑口煤价等，但其数据频率为周频且相对于港口数据变化较为不敏感。中游的数据主要由港口锚地船舶数量，港口海运费，港口库存和港口吞吐量、调入调出量（日度数据）。下游主要包括沿海地区六大电厂库存、日耗（日度数据），以及内陆重点电厂库存（周度数据）。
      港口的海运费和电厂库存均和动力煤价格走势有较强的相关性（我们这里选取动力煤现货价格为秦皇岛港平仓价：Q5500，即标准交割品）。一般而言，港口海运费的上涨代表中游交投活跃，且当海运费走高时，其动力煤运输成本也走高。因此海运费对价格的影响是双重作用。电厂库存和动力煤价格往往呈现出相反的走势，这是因为当电厂库存高企时，电厂补库需求开始下降；而库存去化的过程种，库存压力下降，上游议价能力较强。

## Data preparation

In [2]:
file = 'zc_data'

In [3]:
dataset = sj.read_datafile_pkl(file)
dataset.head()

,ZC_spot,ZC_futures,freight,ship,harbor_stock,consumption,station_stock
2013-10-08,525.0,550.1073,45.655556,146.0,1160.2,59.20,1258.10
2013-10-09,525.0,550.3280,46.111111,130.0,1155.5,56.90,1240.14
2013-10-10,530.0,550.0606,46.655556,118.0,1136.8,61.92,1251.47
2013-10-11,530.0,549.9515,47.544444,119.0,1140.0,63.67,1254.94
2013-10-14,535.0,563.2041,51.544444,154.0,1147.5,64.82,1245.50

In [4]:
dataset.info() # No null value, so no need to clean

<class 'pandas.core.frame.DataFrame'>
Index: 1534 entries, 2013-10-08 to 2020-02-14
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ZC_spot        1534 non-null   float64
 1   ZC_futures     1534 non-null   float64
 2   freight        1534 non-null   float64
 3   ship           1534 non-null   float64
 4   harbor_stock   1534 non-null   float64
 5   consumption    1534 non-null   float64
 6   station_stock  1534 non-null   float64
dtypes: float64(7)
memory usage: 95.9+ KB

**Assign varible name**

In [5]:
Y_spot = ['ZC_spot']
Y_futures = ['ZC_futures']
x_varibles = ['freight', 'ship', 'harbor_stock', 'consumption', 'station_stock']

In [6]:
Spotset = dataset[Y_spot + x_varibles]
Futuereset = dataset[Y_futures + x_varibles]

### First Task
1、分别以ZC_spot（现货价格）和ZC_futures（期货价格）为y值，逐个计算这两个变量和freight（港口之间运费）、ship（港口船舶锚地数量）、harbor_stock（港口煤炭库存）、consumption（电厂日耗）和station_stock（电厂煤炭库存）之间的线性相关系数。

In [7]:
Spotset.corr().iloc[:, [0]] # Linear Pearson Corr between Zc_spot and dependent varible

                ZC_spot
ZC_spot        1.000000
freight        0.694401
ship           0.417993
harbor_stock   0.099488
consumption    0.395969
station_stock  0.079572

In [8]:
Futuereset.corr().iloc[:, [0]]# Linear Pearson Corr between Zc_future and dependent varible

               ZC_futures
ZC_futures       1.000000
freight          0.704178
ship             0.395197
harbor_stock     0.168804
consumption      0.416912
station_stock    0.218680

### Second Task
2、多元回归ZC_futures 和其他5个基本面指标，以ZC_futures为y值。

In [9]:
outcome, predictors = patsy.dmatrices('ZC_futures ~ freight + ship + harbor_stock + consumption + station_stock', dataset)
mod = sm.OLS(outcome, predictors)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             ZC_futures   R-squared:                       0.608
Model:                            OLS   Adj. R-squared:                  0.607
Method:                 Least Squares   F-statistic:                     474.5
Date:                Mon, 28 Sep 2020   Prob (F-statistic):          8.25e-308
Time:                        17:49:18   Log-Likelihood:                -8424.9
No. Observations:                1534   AIC:                         1.686e+04
Df Residuals:                    1528   BIC:                         1.689e+04
Df Model:                           5
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        53.2427     15.628      3.407      0.001      22.589      83.897
freight           5.5048      0.195     28.219      0.000       5.122       5.887
ship             -0.0132      0.067     -0.198      0.843      -0.144       0.118
harbor_stock      0.0344      0.006      5.961      0.000       0.023       0.046
consumption       1.4059      0.192      7.319      0.000       1.029       1.783
station_stock     0.1100      0.009     12.118      0.000       0.092       0.128
==============================================================================
Omnibus:                       21.797   Durbin-Watson:                   0.025
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               37.333
Skew:                          -0.053   Prob(JB):                     7.82e-09
Kurtosis:                       3.757   Cond. No.                     1.84e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.84e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

### Third Task
3、第一个任务的变形，从传统的pearson相关系数，转变为spearman相关系数（非线性，网上可搜python的代码）。

In [10]:
Spotset.corr("spearman").iloc[:, [0]] # Linear Spearman Corr between Zc_spot and dependent varible

                ZC_spot
ZC_spot        1.000000
freight        0.766401
ship           0.462514
harbor_stock  -0.033611
consumption    0.384438
station_stock  0.021518

In [11]:
Futuereset.corr('spearman').iloc[:, [0]]# Linear Spearman Corr between Zc_future and dependent varible

               ZC_futures
ZC_futures       1.000000
freight          0.795829
ship             0.450288
harbor_stock     0.019542
consumption      0.390407
station_stock    0.163352

### Fourth Task
4、将5个基本面数据前置1至10个交易日，再基于4的基础上计算相关系数，得到一个5*10的相关系数数据。

In [12]:
dataset = dataset.sort_index()
Dependent_col = dataset[Y_spot]
Indep_col = dataset[x_varibles]

In [13]:
def shift_func(x_featuture, y_feature, shift_day):
    """
    Helper function to shift x_feature days to see the corr
    witrh y_feature
    """
    shift_data = x_featuture.shift(-shift_day) #Only shift x varible
    result_table = pd.concat([y_feature, shift_data], axis=1) #Combine shift x varibles with y varible
    result_corr = result_table.corr().iloc[[0]].T.iloc[1:] #Only get corr aside from y itself
    result_corr = result_corr.rename(columns={"ZC_spot": str(shift_day)})# rename the col name
    return result_corr

In [14]:
Ten_day_shift = shift_func(Indep_col, Dependent_col, 1)
for i in range(2, 11):
    cur_corr = shift_func(Indep_col, Dependent_col, i)
    Ten_day_shift = pd.concat([Ten_day_shift, cur_corr], axis=1)

In [15]:
Ten_day_shift

,1,2,3,4,5,6,7,8,9,10
freight,0.688160,0.681419,0.674274,0.666952,0.659821,0.653135,0.647175,0.641870,0.637026,0.632471
ship,0.412051,0.405391,0.398400,0.391040,0.383991,0.377031,0.369545,0.362415,0.355226,0.348550
harbor_stock,0.107531,0.115725,0.124086,0.132587,0.141162,0.149688,0.158114,0.166428,0.174635,0.182771
consumption,0.393456,0.391365,0.389682,0.387774,0.386478,0.385215,0.384073,0.383229,0.382669,0.382460
station_stock,0.083229,0.087052,0.091136,0.095382,0.099800,0.104526,0.109274,0.114220,0.119158,0.124094

### Fifth Task
5、5大基本面数据与动力煤价格的相关性并不是静态的，而是动态的。因此，选择一个合适的计算窗口非常重要。在此我们根据动力煤基本面的季节性特征，将窗口分位春（2-4月）、夏（5-7月）、秋（8-10月）、冬（11-1月），四个时间段，分别计算在不同季节下，不同先行周期下的相关系数。这样得到的是4组数据，每个都是5*10的。

In [16]:
def assign_season(arr):
    if arr.month in [2, 3, 4]:
        return "Spring"
    if arr.month in [5, 6, 7]:
        return "Summer"
    if arr.month in [8, 9, 10]:
        return "Fall"
    else:
        return "Winter"
label = dataset.index.to_series().apply(assign_season)

In [17]:
dataset = dataset.assign(**{"Season": label})
dataset.head()

,ZC_spot,ZC_futures,freight,ship,harbor_stock,consumption,station_stock,Season
2013-10-08,525.0,550.1073,45.655556,146.0,1160.2,59.20,1258.10,Fall
2013-10-09,525.0,550.3280,46.111111,130.0,1155.5,56.90,1240.14,Fall
2013-10-10,530.0,550.0606,46.655556,118.0,1136.8,61.92,1251.47,Fall
2013-10-11,530.0,549.9515,47.544444,119.0,1140.0,63.67,1254.94,Fall
2013-10-14,535.0,563.2041,51.544444,154.0,1147.5,64.82,1245.50,Fall

In [18]:
Spring = dataset[dataset["Season"] == "Spring"]
Summer = dataset[dataset["Season"] == "Summer"]
Fall = dataset[dataset["Season"] == "Fall"]
Winter = dataset[dataset["Season"] == "Winter"]

In [19]:
Spring_shift = shift_func(Spring[x_varibles], Spring[Y_spot], 1)
for i in range(2, 11):
    cur_corr = shift_func(Spring[x_varibles], Spring[Y_spot], i)
    Spring_shift = pd.concat([Spring_shift, cur_corr], axis=1)
Spring_shift

,1,2,3,4,5,6,7,8,9,10
freight,0.696231,0.686799,0.677368,0.668060,0.659140,0.652281,0.645992,0.640076,0.634496,0.629136
ship,0.485124,0.466754,0.450654,0.436194,0.420909,0.405405,0.389949,0.373494,0.353608,0.332809
harbor_stock,0.004485,0.012653,0.021833,0.031598,0.041597,0.053006,0.064621,0.076391,0.088186,0.099782
consumption,0.407895,0.399670,0.395273,0.390443,0.385918,0.382545,0.379116,0.381720,0.384668,0.390347
station_stock,0.074885,0.087909,0.101617,0.114351,0.127569,0.137398,0.146642,0.156939,0.167593,0.177960

In [20]:
Summer_shift = shift_func(Summer[x_varibles], Summer[Y_spot], 1)
for i in range(2, 11):
    cur_corr = shift_func(Summer[x_varibles], Summer[Y_spot], i)
    Summer_shift = pd.concat([Summer_shift, cur_corr], axis=1)
Summer_shift

,1,2,3,4,5,6,7,8,9,10
freight,0.720786,0.712019,0.703183,0.694806,0.687005,0.680454,0.674922,0.670683,0.667336,0.664413
ship,0.609553,0.602658,0.594979,0.584498,0.576712,0.569866,0.563095,0.556748,0.549671,0.540706
harbor_stock,0.390402,0.402759,0.414885,0.426113,0.436608,0.446598,0.456419,0.466037,0.475609,0.484275
consumption,0.552694,0.556678,0.561889,0.561967,0.561987,0.560974,0.558136,0.556315,0.553011,0.550263
station_stock,0.510984,0.518535,0.525518,0.532061,0.538931,0.546239,0.552406,0.558290,0.563745,0.568837

In [21]:
Fall_shift = shift_func(Fall[x_varibles], Fall[Y_spot], 1)
for i in range(2, 11):
    cur_corr = shift_func(Fall[x_varibles], Fall[Y_spot], i)
    Fall_shift = pd.concat([Fall_shift, cur_corr], axis=1)
Fall_shift

,1,2,3,4,5,6,7,8,9,10
freight,0.748259,0.739267,0.729392,0.719200,0.710066,0.703408,0.699458,0.697229,0.696082,0.695853
ship,0.403513,0.392806,0.381140,0.368862,0.359162,0.351272,0.343367,0.335868,0.328659,0.324276
harbor_stock,-0.026636,-0.002081,0.022348,0.045987,0.069389,0.091984,0.113303,0.134225,0.154581,0.174405
consumption,0.371997,0.381906,0.391500,0.399997,0.413275,0.427287,0.438475,0.446232,0.453820,0.462060
station_stock,-0.033352,-0.016611,-0.000769,0.014515,0.029855,0.045321,0.060697,0.076578,0.092856,0.109017

In [22]:
Winter_shift = shift_func(Winter[x_varibles], Winter[Y_spot], 1)
for i in range(2, 11):
    cur_corr = shift_func(Winter[x_varibles], Winter[Y_spot], i)
    Winter_shift = pd.concat([Winter_shift, cur_corr], axis=1)
Winter_shift

,1,2,3,4,5,6,7,8,9,10
freight,0.687373,0.674702,0.661485,0.647638,0.633102,0.617836,0.601452,0.584428,0.566715,0.548458
ship,0.288341,0.277125,0.265140,0.254160,0.239668,0.226601,0.217056,0.206967,0.198721,0.188935
harbor_stock,0.146405,0.164045,0.181377,0.198380,0.212804,0.228578,0.243913,0.258804,0.272746,0.286135
consumption,0.314784,0.317071,0.313835,0.309366,0.305935,0.305615,0.301162,0.298095,0.295909,0.293199
station_stock,-0.067417,-0.054055,-0.040463,-0.026509,-0.013469,-0.000591,0.013242,0.026154,0.038285,0.050679